<div class="content">
	
	<h3>Who We Are</h3>
	
	<%= image_tag ("phil.jpg"), class: "about-img" %>
	<p><strong>Phil Graiser, Certified Senior Advisor (CSA)®</strong><br />
	<em>President</em></p>

	<p>Phil Graiser is a family man. His family has always been his top priority. Like many others, as his parents aged he became their primary caregiver while juggling a successful career and active family. His mother in particular required an extended period of care, eventually moving to assisted living, then nursing homes and Hospice care. Phil’s family struggled with the decision to move her from her home, but following a series of late night calls from Phil’s father after she had fallen and he was unable to pick her up, the transition was made. Since his mother’s passing many years ago, Phil has not forgotten those who provided assistance to his mother and family during such a strenuous time. This experience prompted Phil to found Comforting Arms. His goal is to provide individuals and families with the services and support he knows they need as family members age and/or disability occurs, whether temporary or permanent.</p>

	<p>Born and raised in New York, Phil has resided in Cobb County, Georgia since 1986, when he moved there in pursuit of a promising career in Information Technology. He has led both small and large teams toward common goals while working his way through the ranks of leadership. He is well recognized among his peers for his exceptional ability to build and maintain relationships through positive and personable interaction.</p>

	<p>Committed to his community, Phil has served in various volunteer capacities including youth recreation coach and non-profit board member. He founded Kennesaw Mountain Youth Basketball program, growing it to over 1,000 youth participants. He served as the chairperson of a local charity golf tournament raising over $500,000 for the Autism Society of America during his seven years of leadership. He is currently serving an extended term as a founding board member of Eddie’s Road, an entity dedicated to assisting at-risk youth.  Phil is currently serving on the Board of Directors for Aloha to Aging, a non-profit organization whose mission is to empower family caregivers, aging care receivers and volunteers in a positive, nurturing manner through quality programming.</p> 

	<p>Phil has been married to Julie Graiser, his partner in life and business, for more than 30 years. They share two wonderful children. During his free time, Phil enjoys spending time with his family, reading, hiking and various outdoor activities.</p>

	<p><strong>Cool thing about Phil:</strong></p>

	<p>In December 2009, Phil participated in a kidney transplant chain in which there were five donors and five recipients. Phil donated one of his kidneys to a complete stranger. In exchange, Phil’s nephew received a life-saving kidney from another stranger. Click here to read more about this.</p>

	<br />
	<br />
	<br />

	<%= image_tag ("julie.jpg"), class: "about-img" %>
	<p><strong>Julie Graiser, Cerfitied Family Nurse Practitioner</strong><br />
	<em>Director of Client & Family Oversight</em></p>

	<p>Julie is a nurse by trade and a caregiver in life. Like her husband Phil, Julie experienced the stress of aging parents who have since passed away. Living many miles from her parents, Julie is aware of the challenges of coordinating care. In her parents’ final days, she and her siblings found comfort in the quality personal caregivers and Hospice services provided. Julie’s personal mission in founding Comforting Arms is to provide families with the peace of mind their loved ones will receive consistent and extraordinary care.</p>

	<p>Julie is originally from Iowa, but has resided in Cobb County, Georgia since 1986. Julie’s nursing passion comes from a long line of professional nurses, including her grandmother, aunts and daughter. She spent the first 17 years of her career as a Registered Nurse, and the last 13 years as a Nurse Practitioner. She has worked in a hospital setting caring for patients post-surgery, internal medicine and family practices treating patients from early childhood through geriatric age. Among her numerous professional accomplishments, Julie helped build a practice from 1,000 patients to over 13,000.</p>

	<p>Julie is an active local and international volunteer. She has participated in four mission trips; three to Haiti and one to Kenya. During these trips Julie assists in providing medical care to patients – often hundreds of patients daily. A broad range of treatments are provided from minor surgeries to dispensing medications.</p>

	<p>Locally Julie is active in her church as part of the WellStar Parrish Nursing Program coordinating blood drives, guest lectures, AED (automatic external defibrillator) awareness, CPR and first aid training, blood pressure screening, health fairs, flu shots and individual counseling regarding health related issues. She is also a lecturer at Kennesaw State University for the Master’s program in nursing.</p>

	<p>Married to Phil Graiser for 30 years, Julie enjoys spending her free time with family, hiking, fishing, baking and reading.</p>

	<p><strong>Cool thing about Julie:</strong></p>

	<p>During her mission trip to Kenya, Julie helped build an orphanage that now houses 16 children. She continues to provide support as the medical consultant for her church’s Kenyan Kids Connection Ministry, which also coordinates the sponsorship of over 150 orphans in the Kenyan community.</p>

	<br />
	<br />
	<br />

	<%= image_tag ("marcy.jpg"), class: "about-img" %>
	<p><strong>Marcy Graiser, LMSW</strong><br />
	<em>Elder Care Consultant</em></p>

	<p>Marcy can only be described as compassionate and inspiring. Life changing experiences while working with the developmentally disabled and during her tenure in geriatric social work have provided Marcy with a clear perspective of quality care. She brings a unique understanding of the caregiving experience to the Comforting Arms team.</p>

	<p>Marcy is a licensed master social worker with over 12 years of experience in geriatric social work. Her interest in caregiving and advocacy began nearly 20 years ago, when she worked as a program aide with the adult developmentally-disabled population. She was in-serviced for many tasks in intimate personal care assistance, feeding and transfers. Finding the work meaningful and inspiring, she pursued a master’s degree in social work with a specialization in health. She found her professional home in geriatrics, working in a skilled nursing facility in the sub-acute care unit.</p>

	<p>She later earned her professional licensure and worked as a service coordinator/social worker for an assisted and independent living facility under auspices of skilled nursing facility. As part of her responsibilities, she counseled seniors and their families as they navigated through their conditions, needs and living changes. She helped them cope with their physical, cognitive and mental health issues, such as Alzheimer’s and related dementias, Parkinson’s, sight and hearing losses, as well as depression and variety of mood and/or psychiatric disorders.</p>

	<p>Her primary focus was relationship and trust building, resource linkage, and helping people to live well by aging in place. For some, she lent support through the dying and death process.</p>

</div>