<% @page = "contact" %>
<h3>Contact Comforting Arms</h3>
<%= image_tag "contact.jpg", class: "contact-img" %>
<br />
<p>We are here to help! You can reach out to us at any time without ANY pressure to commit to our services. Simply call us or e-mail us so that we can learn more about your unique situation and share how our caregivers can improve the quality of your life!<p>
<br />
<br />
<br />
<br />
 
<div class="address">
	<strong>Comforting Arms</strong>
<br />
	1300 Ridenour Blvd., Suite 100
<br />
	Kennesaw, GA 30152
<br />
	Phone: <%= link_to "678-819-3775", "tel:678-819-3775", class: "no-link-dec" %>
<br />
	Fax: 678-266-3366
<br />
	Email: <%= link_to "info@comfortingarms.com", "mailto:info@comfortingarms.com" %>
</div>