<h3>Employment Opportunities</h3>
<br />
<p><strong>A Rewarding Career Helping Seniors and Their Families</strong></p> 
<br />
<p>Work in one of the most rewarding positions in your community! We are actively seeking caring individuals who would like to make a difference in their area by working as caregivers for the elderly. We provide what is known as “companion care” for seniors so they can remain independent in their own homes for as long as possible. We assist the elderly with meal planning and preparation, errands and incidental transportation, laundry, light housekeeping, and many other needed tasks.</p>
<%= image_tag "employment.jpg", class: "caregivers-img" %>
<br />
<p><strong>Our Hiring Process</strong></p>
<br />
<p>We are seeking caregivers who are warm, compassionate and love working with the elderly. You must be caring and patient. The hours are flexible and can be part-time or full-time. You do not need to be experienced or licensed. We supply the training. We will only hire individuals who can pass criminal and motor vehicle background checks with stellar marks. You need to have a valid Driver’s License, a clean driving record, a reliable car with up-to-date insurance, and compassion and love for seniors. We cannot hire you if have a criminal record, a recent history of drug or alcohol abuse, or carry a communicable disease such as tuberculosis. Prior to hiring caregivers, we require health certificates and we run thorough background checks.</p>
<br />
<p><strong>Our Training</strong></p>
<br />
<p>We are committed to providing our clients with the most professional caregivers in the area. In order to ensure this, we look for warm, honest, caring people, and then we help them to gain the education necessary to become the best around. Our caregivers have the opportunity to become Certified Companion Aides, CCA’s®, a designation that elevates their knowledge and status in the industry.</p>
<br />
<p>Those who complete the Certified Companion Aide (CCA®) program have successfully completed an exclusive training program specially designed for companion caregivers. This program, derived from a popular certified nursing assistant program, is a compilation of the best standards and practices available in companion care, focusing on 19 essential care subjects, including:</p>
<br />
<ul>
	<li>Professionalism</li>
	<li>Understanding Aging</li>
	<li>Safe and Comfortable Transfers</li>
	<li>Chronic Medical Conditions</li>
	<li>Infection Control</li>
	<li>Maintaining Safe and Healthy Home Environments</li>
	<li>Nutritional Needs</li>
	<li>Meal Planning and Preparation</li>
	<li>And much more!</li>
</ul>
<br />
<p>No other companion care company offers such a comprehensive training program. Clients can trust that our CCA’s ® will perform their duties with professionalism and dedication while they help our clients maintain their independence and treat them and their loved ones with the dignity and respect that they deserve. Our CCA’s ® represent some of the finest caregivers in the industry.</p>
<br />
<p><strong>Here’s what some of our caregivers are saying about our Certified Companion Aide (CCA®) program:</strong></p>
<br />
<em><p>“I just wanted to take a moment to thank you for such a great learning tool, the Certified Companion Aid (CCA) Program. I was a CNA working for several nursing homes, but this program is so comprehensive I can’t compare it to the certification program for nursing assistants. The program provides a more detailed description of what senior care is really about. The chapters look at the senior as a whole person. The program also presents detailed information and diagrams every CNA or home healthcare professional should have. The CCA program guarantees each senior has the best care available. Thank you again.”</p>
<br />
<p>“I did not have a lot of formal [education] as a caregiver and the CCA program helped me to gain a better knowledge of what to expect as a caregiver and how to deal with certain situations. The instructional material was interesting and I think that it has given me more confidence as a caregiver.”</p>
<br />
<p>“The CCA program has taught me to be a more well-rounded caregiver. Instead of just being proficient at meeting the clients’ physical needs, I now feel more prepared to meet their nutritional, social, emotional and spiritual needs, as well.”</p></em>
<br />
<p>Thank you for your interest in working with us to make life better for seniors and their families. We look forward to being able to discuss employment opportunities with you, and to advance your training, skills and career. You can start the process of becoming a caregiver with Comforting Arms by <%= link_to "submitting an application", apply_today_path %>.</p>