<% @page = "resources" %>
<h3>Fall Prevention Program</h3>
<%= image_tag "fall_prevention.jpg", class: "fall-prevent-img" %>
<br />
<p><strong>Request a Free Fall Prevention Workshop for Your Group!</strong></p>
<br />
<p>Comforting Arms is proud to be the Cobb, Cherokee, Dekalb, Fulton and Paulding county’s “resident experts” in fall prevention. Let us share some ideas with your family, friends, company, organization, or group about how to prevent one of the most catastrophic events in the life of a senior citizen.</p>
<br />
<p><strong>Did you know that:</strong></p>
<ul>
	<li>70% of accidental deaths in people over the age of 75 result from falls?</li>
	<li>We spend $79 billion in medical costs each year on accidents attributable to falls?</li>
	<li>40% of all nursing home admissions are attributable to repeated falls at home?</li>
	<li>1 out of every 3 seniors who lives independently in their homes will seek medical care for a major fall each year?  If you are over 75, the likelihood of falling is even greater.</li>
	<li>25% of seniors who suffer hip fractures die within one year?
	Survivors of falls may experience debilitating fractures of the hip, wrists or spine?</li>
	<li>Falling, or the fear of falling, often times leads to loss of confidence, imposed isolation and immobility?</li>
</ul>
<br />
<p>As you can see, the consequences of falling are very serious to seniors and their families. We are very concerned about the effects that falls have on seniors. We routinely speak to groups, both large and small, about how to prevent falls. We have developed a dynamic presentation (ranging from 20 to 60 minutes in length) that we would love to share with your group.  In this presentation, we share such things as:</p>
<ul>
	<li>The frequency and effects of falls among seniors</li>
	<li>The most common causes of falls</li>
	<li>Things you can do to reduce the risk of falling</li>
	<li>What to do when someone falls</li>
	<li>How to tell if you or someone you love is at risk of a fall</li>
</ul>
<br />
<p>With each presentation, brochures, videos and other materials are available for each person. In addition, each senior will have the opportunity to participate in a free risk assessment. If you would like us to present this valuable program at your group’s next meeting, simply <%= link_to "contact us", contact_us_path %>.</p>