<h3>Welcome to Comforting Arms</h3>

<%= image_tag ("Julie-Virginia-full.jpg"), class: "home-img" %>
<p>Comforting Arms is the premier non-medical home care agency in Cobb, Cherokee, Dekalb, Fulton, Bartow and Paulding counties, providing a wide range of in-home care services. Comforting Arms is a locally-owned and operated company and is passionate about serving seniors and those in need.</p>

<p>As a member of The Senior’s Choice, the nation’s largest network of independent private duty companies, our mission is to have our clients and families fall in love with the future by providing dependable and affordable care. Along with our dedication to quality home care services, we offer a personal touch that enriches the lives of those for whom we care.</p>

<p>Our focus is to keep you or your loved ones at home, where the heart is, and avoid loss of friends and possessions, loss of independence and freedom, and loss of spirit which is drained by the battles of daily living. Our caring service makes it possible for the elderly to maintain as much independence as possible, by providing the appropriate in-home assistance and companionship. We pride ourselves on matching highly qualified, compassionate caregivers to fit the personality, interests, and sense of humor of your loved ones. In that way, we lift the spirits not only of seniors, but of the family caregiver, as well.</p>

<p>If you or your loved ones live in Acworth, Canton, Cartersville, Dallas, Dunwoody, Kennesaw, Marietta, Sandy Springs, Woodstock or surrounding areas and wish to remain independent at home for as long as possible, then contact Comforting Arms to discuss your care needs. In-home care is our specialty, and we can help!</p>