<% @page = "services" %>
<h3>Request an Assessment</h3>
<br />
<%= image_tag ("raaimg.jpg"), class: "whc-img" %>
<p>Before beginning services, we need to know more about you. We begin with a complimentary assessment to determine your care needs. We start the process by conducting an in-depth assessment of you or your loved one’s lifestyle, medical conditions and the kind of assistance needed that will help them to remain independent at home. We will meet with you and your family and jointly determine the scope of care.</p>
<br />
<p>During the meeting, we explain fully the services available, answer any additional questions, and help with the important care decisions faced by the family with a loved one in need.</p>
<br />
<p><strong>Issues covered include the following:</strong></p>
<br />
<ul>
	<li>Matching the appropriate caregiver</li>
	<li>Daily routines</li>
	<li>Health and medication issues</li>
	<li>Emergency response</li>
	<li>Nutritional issues</li>
	<li>Home cleaning issues</li>
	<li>Transportation needs</li>
	<li>Costs of services</li>
</ul>
<br />
<p>After meeting with the senior or family, a customized and comprehensive Care Plan is developed to meet the physical, psychological and social needs of the senior and the family.</p>
<br />
<p>We take a holistic approach to matching the best caregiver with your loved one, taking into account such important elements as the senior’s needs and personality. Moreover, ongoing follow-up supervision ensures that the care plan is well-implemented and that the senior’s changing needs are met with diligence. We are always mindful of family finances, and we can create a care plan that meets almost anyone’s budget.</p>
<br />
<p>So don’t delay – take advantage of this no-obligation opportunity to assess your needs and discover how we can significantly improve your life and the life of your loved one. For more information, or to request a FREE assessment meeting, simply <%= link_to 'contact us', contact_us_path %> at <%= link_to "678-819-3775", "tel:678-819-3775", class: "no-link-dec" %> or <%= link_to "info@comfortingarms.com", "mailto:info@comfortingarms.com" %>.</p>