<% @page = "services" %>
<h3>Respite Care in Cobb, Cherokee, Dekalb, Fulton and Paulding counties</h3>
<br />
<p><strong>Caring for an Aging Loved One? We Can Help!</strong></p>
<br />
<%= image_tag ("respiteimg.jpg"), class: "whc-img" %>
<p>Many times, caring for a client involves family, so Comforting Arms can also play a role in providing “respite care” for the family caregiver (i.e., a wife caring for a husband or a daughter/son caring for her/his parents). Constant caregiving can bring considerable stress, because the caregiver’s focus is centered on the one needing care. Very often, we see that when we give relief with daily routines, allowing the family caregiver(s) more time for themselves, the relationship strengthens.</p>
<br />
<p>In the 21st Century, the demands placed on family and other informal caregivers continue to escalate, and will eventually affect nearly every American family. It’s everyone’s greatest fear: a parent starts to forget things…he becomes bewildered, confused, and angry…finally, he can’t take care of himself and needs full-time care. Adult children are increasingly faced with their biggest nightmare – parents who are as helpless as young children.</p>
<br />
<p><strong>If you find yourself caring for an aging loved one, you are not alone! Consider the following:</strong></p>
<br />
<ul>
	<li>Nearly a quarter (23.9%) of U.S. households are now involved in caring for an elderly family member or relative, spending an average of 20 hours a week in caregiving-related chores.</li>

	<li>Some 80% of caregivers provide unpaid assistance seven days a week.</li>
	
	<li>More than 60% of all family caregivers say they have suffered from depression. (Source: National Family Caregivers Association/Fortis Long Term Care, 1998)</li>
	
	<li>Long distance caregivers miss nearly 15 million days of work each year. (Source: National Council on Aging/The Pew Charitable Trusts, 1998)</li>
	
	<li>Long-term family caregiving takes a significant toll on workers. Lost productivity, absenteeism, interruptions and replacing employees due to elder care costs American business in excess of $11.4 billion annually. (Source: National Alliance for Caregiving/Glaxo Welcome Report, 1997)</li>
	
	<li>A significant decline in the number of family caregivers is occurring in the U.S., while at the same time, the demand for elder care is increasing.</li>
</ul>
<br />
<p><strong>Comforting Arms can help you by providing:</strong></p>
<ul>
	<li>Qualified, caring, trained, insured, bonded, and flexible caregivers who can help you take a few hours, without feeling guilty or stressed, while you take care of yourself or other members of your family. Our caregivers can assist your elderly loved one for a few hours a week, a few hours a day, or more. Giving yourself a little bit of time away may be just what the doctor ordered and will help you to be a much better family caregiver.</li>

	<li>In-home assessments. We routinely perform in-home assessments that result in a customized care plan for your loved ones. You may choose to have us carry out the care plan in whole or in part, or you may simply choose to use the care plan to improve your own ability to care for your loved one.</li>
	
	<li>Access to information and training for caregivers. We have access to (and offer) a wealth of information, training and resources for caregivers.</li>
	
	<li>Fall-prevention assessments and training. One of the largest sources of injuries among seniors is falling. We can help you assess the risks that your loved one faces and provide education on how to minimize the risk of falling. Also, if you request, we will even conduct a free workshop on fall prevention for your group. Visit the <%= link_to "Fall Prevention", fall_prevention_program_path %> section to learn more.</li>
	
	<li>Home safety checks. We have extensive experience in the multi-faceted process of ensuring that your loved one’s home is safe, which is vital to maintaining independence for as long as possible.</li>
	
	<li>Support and understanding. We can help you get connected with support groups and individuals in our area that can help YOU, as well as help you care for your loved one.</li>
</ul>
<br />
<p><strong>So if you are a family caregiver in needs of some help, don’t hesitate to <%= link_to "contact us", contact_us_path %>. You can talk to us about your unique situation, schedule a free in-home assessment, and be well on your way to a happier, healthier life for you and your loved one.</strong></p>