<h3>Senior Care Services</h3>
<%= image_tag ("services.jpg"), class: "services-img" %>
<p>Comforting Arms is the perfect solution for seniors and others in need who aren’t ready to leave their home for an institutional setting, but because of illness or chronic conditions need support to remain at home. We improve your life by providing compassionate, one-on-one care in the comfort of your own home. Our personalized and affordable services are available 7 days a week and can range from a few hours a day to 24/7 live-in care.</p>

<br />

<p>Comforting Arms provides service in private homes, assisted living communities, hospitals, skilled nursing facilities, and rehabilitation centers. Our highly-qualified and trained caregivers are ready to help you and your loved ones with a variety of daily activities, such as:</p>

<br />

<div class="row">
	<div class="col-md-6">
		<ul>
			<li>Light Housekeeping</li>
				<ul>
					<li>Dust</li>
					<li>Vacuum</li>
					<li>Clean kitchen</li>
					<li>Organize closets</li>
					<li>Change the linen</li>
					<li>Light laundry</li>
					<li>Light ironing</li>
				</ul>

			<li>Miscellaneous</li>
				<ul>
					<li>Stay awake overnight</li>
					<li>Prepare breakfast</li>
					<li>Companionship</li>
					<li>Conversation</li>
					<li>Read together</li>
					<li>Games and puzzles</li>
					<li>Arts and Crafts</li>
					<li>Cook together</li>
					<li>Watch TV</li>
					<li>Pet Care</li>
					<li>Mend clothes</li>
					<li>Answer the phone</li>
					<li>Read mail</li>
				</ul>
		</ul>
	</div>
	<div class="col-md-6">
		<ul>
			<li>Light Personal Care</li>
				<ul>
					<li>Medication reminders</li>
					<li>Monitor bathing</li>
					<li>Grooming monitoring</li>
					<li>Dressing monitoring</li>
					<li>Transfers</li>
				</ul>

			<li>Sleep-Over Services</li>
				<ul>
					<li>Stay awake overnight</li>
					<li>Prepare breakfast</li>
				</ul>

			<li>Errands & Transportation</li>
				<ul>
					<li>Organize closets</li>
					<li>Change the linen</li>
					<li>Groceries and shopping</li>
					<li>Pick up prescriptions</li>
					<li>Movie events</li>
					<li>Dine out for meals</li>
					<li>Drive to family</li>
					<li>Handle dry cleaning</li>
					<li>Stamps, mail packages</li>
					<li>Attend church services</li>
					<li>Home Maintenance</li>
				</ul>
		</ul>
	</div>
</div>

<br />

<p><em>Extended Services:</em></p>

<p>This level of service includes more extensive assistance with personal senior care. Services may include all of the above listed activities and:</p>
<br />
<ul>
	<li>Bathing assistance</li>
	<li>Grooming assistance</li>
	<li>Dressing assistance</li>
	<li>Extensive transfers</li>
	<li>Live-in assistance</li>
</ul>
<br />

<p>We know that every client is unique, and our in-depth assessment process allows us to custom tailor our services to meet your specific needs. <%= link_to 'Click here', request_an_assessment_path %> to learn more about our assessment process or to schedule a complimentary in-home assessment.</p>