<% @page = "about" %>
<h3>Testimonials</h3>
<%= image_tag ("testimonials.jpg"), class: "testimonial-img" %>
<h5><strong>Don’t just take <em>our</em> word for it — see what the rest of Cobb, Cherokee, Dekalb, Fulton and Paulding counties are saying about Comforting Arms!</strong></h5>

<br />

<p>I thought I was perfectly happy with the level of care and professionalism I experienced with the first company my brother and I hired to take care of our father, but that was before we engaged Comforting Arms to come into my home.  From the first visit to develop a care plan, I recognized that Comforting Arms was truly exceptional in its scope and completeness.  The attention to detail resulted in a care plan that addresses my father’s smallest need—some I had never even considered. But the real treasure in using Comforting Arms is the caregivers themselves.  We have had two different caregivers with Comforting Arms and both demonstrated a true calling for this type of work.  They treat my father as they would one of their own family members; he is not just a job to them.  They are conscientious to a fault and strive to take on responsibilities that ultimately make my life easier even as it makes my father’s life safe and more comfortable.  With Comforting Arms, I have a sense of satisfaction and a peace of mind when I am absent from home that I have not had since we first began using in home caregivers two years ago.</p>

<br />

<p>- L.E.</p>

<br /> 

<p>******************************</p>

<br />

<p>I would highly recommend Comforting Arms to anyone who has aging parents.  I just recently moved my parents into a house from Maryland so they could be closer to us.  My Mom broke her hip in 2010, and my Dad has heart issues.  They were fairly independent, but when I went to visit, I was concerned about their eating habits, all of the medicines that they were taking, and going up and down the stairs. There was no organization of their meds.  Sometimes they got it, sometimes not.  I had no idea, that they would be as needy as they are!  I was spending a great deal of time at their house doing things for them:  taking them to doctors, cooking, cleaning, etc.  I was SPENT!</p>

<p>A friend told me about Comforting Arms, so I set up a meeting to see what they had to offer. I was so impressed with the professionalism.  Phil Graiser sets very high standards for his company and his employees! Mom and Dad’s caregiver is wonderful!  She is more patient than I am, she takes them to the store and doctor’s appointments, does light housework, makes their lunch, and helps with the laundry.  She makes sure that they’re taking their medicine at the appropriate times as well.  She’s a friend, not just a caregiver.</p>

<p>I’m so grateful to have Comforting Arms help us all out.  I have more time just to visit with them, and I’m not so stressed out. Mom and Dad get to stay in their own home, so they don’t have to go into an assisted living facility, and I have more time to spend with my family. This company is truly a Godsend!</p>

<br /> 

<p>-P.W.</p>

<br /> 

<p>******************************</p>

<br />

<p>Typical of a lot of people, I am still raising my children, and still needed to spend time with my aging father. I am the only child left in our family, so there was nobody else to help assist with day to day monitoring and visitation of my father. Although suffering from a mild form of dementia, he was doing OK in the assisted living facility, when he fell and broke his hip. The level of care and attention was increasing dramatically. The hospital was able to monitor him 24/7, but I felt some of his needs were not being met.  When he was required to be released from the hospital, after reviewing several rehabilitation facilities, my anxiety level skyrocketed.  The name of Comforting Arms came up from a friend, and after a bad experience with another agency in South Carolina, including theft, sleeping on the job and intimidation of my 92 year old father, I was reluctant to move forward, but my wife reassured me that things would be different.</p>

<p>In a nutshell, things were very different. My father and I had a meeting with Phil Graiser and his wife, Julie where they conducted an in-depth assessment.  They wanted to know more history about my father. They wanted to be better able to anticipate his questions, or decipher his things that he might say, and try to reassure him that he was in a safe place and not alone.  Although I never saw the caretaker(s) that Comforting Arms assigned to my father, I was able to measure the anxiety level of my father, and he was so much more relaxed than with the previous agency.  They detailed their time with Dad, and when I was there, I could review their notes.  I was pleased that they were able to take Dad outside, to let him enjoy some sunshine and warmth. It left me with a reassurance that someone else had eyes on Dad, and that the nurses were aware that Dad was not alone. It was reassuring to see Dad, and see that someone had helped him shave (electric), eat and drink and shared some time with him.</p>

<p>I was always informed if there were any changes of personnel before they arrived at my father room, and even met Phil and his wife several times when I was visiting my father.  They were there, and decided to stop in.</p>

<p>I might mention that Phil and his wife took inordinate pains to make sure that any questions that I had got answered.  I know I called several times while they were probably doing their own private time, but I was never left with the impression that I was intruding and always received good advice. Their level of customer care doesn’t stop with the patient, but the patient’s family as well.  Good job and I wouldn’t hesitate to recommend their services to anyone. It was a pleasure working with them.</p>

<br /> 

<p>- J.N.</p>

<br />

<p>******************************</p>

<br /> 

<p>Thank you, thank you. We so appreciate your response to our need for your services – and on such short notice. Yvonne is a wonderful person and we feel very blessed that you sent her our way. She kindly called me on Tuesday to check on my husband and wanted to know how he was doing. He is getting better each day. We are so very blessed.</p>

<br /> 

<p>-S.H.</p>