<h3>Welcome Home Package</h3>

<p>Take the worry out of who will take you home and take care of you upon discharge from the hospital or out-patient facility. Let the professionally trained caregivers from Comforting Arms assist you in getting home and comfortably settled in.</p> 

<p>Our Welcome Home Package will assist you with non-medical transportation home from the hospital, same-day surgery, or rehab. One of our primary goals is to prevent the need for a readmission.</p>

<br />

<p>Our Welcome Home Package will include:</p>
<%= image_tag 'welcome_home.jpg', class: "welcome-home-img" %>

<br />

<ul>
	<li>6 hours of exceptional care</li>
	<li>Transportation home</li>
	<li>Light housekeeping</li>
	<li>Change linens</li>
	<li>Laundry</li>
	<li>Tidy kitchen and bath</li>
	<li>Meal planning and preparation</li>
	<li>Medication reminders</li>
	<li>Prescription pick up</li>
	<li>Personalized assessment and Care plan</li>
	<li>Caring Companionship</li>
	<li>and more…</li>
</ul>

<br />

<p>Our Welcome Home Package is available for $125. Comforting Arms can also provide you with on-going care should you need further assistance after you are settled in.</p>

<p>Let us help you enhance the quality of your life by assisting with those things that just aren’t as easy as they used to be.</p>

<p>Download the <%= link_to 'Welcome Home Package', 'http://comfortingarms.com/wp-content/uploads/CA-Welcome-Home-Brochure.pdf', target: "blank_", style: "text-decoration: underline" %> brochure or contact us at <%= link_to 'info@comfortingarms.com', 'mailto:info@comfortingarms.com', style: "text-decoration: underline" %> for more information.</p>