<h3>Why Home Care?</h3>
<%= image_tag ("whcimg.jpg"), class: "whc-img" %>
<br />
<p>There is growing public demand for health care services that are available to the public in their own homes. The reasons have to do with tradition, with technology, and with cost effectiveness.</p>
<br />
<p>Home care is the oldest form of healthcare – and it is also the “newest.” Modern technology has developed to the point where many services that are available in the hospital can be provided at home. There is significant evidence that it is less costly than other forms of care, and that it is the most satisfying form of health care available to the American public. It is an idea whose time has come.</p>
<br />
<p><strong>So…Why home care?</strong></p>
<br />

<ul>
	<li><strong class="underline">It is delivered at home.</strong> There are such positive feelings that all of us associate with being home. When we are not feeling well, most of us ask to go home. When we are feeling well, we enjoy the sanctity of our residences and the joy of being with our loved ones.</li>

	<li><strong class="underline">Home care keeps families together.</strong> There is no more important social value. It is particularly important in times of illness.</li>

	<li><strong class="underline">Home care serves to keep the elderly independent.</strong> None of us want to be totally dependent and helpless. With some assistance, seniors can continue to function as viable members of society.</li>

	<li><strong class="underline">Home care prevents or postpones institutionalization.</strong> Few patients choose to be placed in a nursing home, unless it’s the only place where they can obtain the 24-hour care that they need.</li>

	<li><strong class="underline">Home care promotes healing.</strong> There is abundant evidence that patients heal more quickly at home.</li>

	<li><strong class="underline">Home care allows a maximum amount of freedom for the individual.</strong> Hospitals and nursing homes offer more regimented, regulated environments. Home care offers a reassuring, individualized setting.</li>

	<li><strong class="underline">Home care is personalized care.</strong> Home care is tailored to the needs of each individual. It is delivered on a one-to-one basis.</li>

	<li><strong class="underline">Home care involves the individual and the family in the care that is delivered.</strong> The patient and his family are taught to participate in their health care. They are taught how to get well, and how to stay that way.</li>

	<li><strong class="underline">Home care reduces stress.</strong> Unlike most forms of health care which can increase anxiety and stress, home care frequently has the opposite effect.</li>

	<li><strong class="underline">Home care is one of the most effective forms of health care.</strong> There is very high consumer satisfaction associated with care delivered in the home.</li>

	<li><strong class="underline">Home care is an efficient form of health care.</strong> By bringing health services home, the patient does not generate board and room expenses. The patient and/or his family supply the food and tend to the individual’s other needs. Technology now has developed to the point where many services, once only available in a hospital, can be offered at home.</li>

	<li><strong class="underline">Home care is given by special people.</strong> By and large, employees of home care agencies look at their work, not as a job or profession, but as a calling. Home care workers are highly trained and dedicated to their work.</li>

	<li><strong class="underline">Home care is, in many cases, less expensive than other forms of care.</strong> The evidence is convincing that, for many services, home care is less expensive than other forms of care. In general, home care costs only one-tenth as much as hospitalization and only one-fourth as much as nursing home placement to deal with comparable health problems.</li>

	<li><strong class="underline">Home care extends life.</strong> A study by the U.S. General Accounting Office has established that people receiving home care tend to live longer and have a better quality of life. Home care helps not only add years to life, but “life to years.”</li>

	<li><strong class="underline">Home care is the preferred form of care, even for individuals who are terminally ill.</strong> There is a growing public acceptance and demand for hospice care, which is home care for individuals who are terminally ill.</li>
</ul>
<br />
<p><strong>Contact Comforting Arms today to learn more about how much we can help you and your loved one.</strong></p>